/.vs
/bin
/obj

/wwwroot/Uploads
/wwwroot/Downloads/CSVFiles
/wwwroot/Downloads/PDFFiles
/wwwroot/Downloads/ExcelFiles

/Projects/AWS/bin
/Projects/AWS/obj
/Projects/Azure/bin
/Projects/Azure/obj
/Projects/Google/bin
/Projects/Google/obj