/OneCore/bin
/OneCore/obj
/OneCore/.vs

/OneCore/wwwroot/Uploads
/OneCore/wwwroot/Downloads/CSVFiles
/OneCore/wwwroot/Downloads/PDFFiles
/OneCore/wwwroot/Downloads/ExcelFiles

/Libraries/AWS/bin
/Libraries/AWS/obj
/Libraries/Azure/bin
/Libraries/Azure/obj
/Libraries/Google/bin
/Libraries/Google/obj

/Tests/AWS.Test/bin
/Tests/AWS.Test/obj
/Tests/Azure.Test/bin
/Tests/Azure.Test/obj
/Tests/Google.Test/bin
/Tests/Google.Test/obj