@page "/users"
@using ClosedXML.Excel
@using System.Data
@using IronPdf
@using OneCore.Repositories
@using OneCore.Entities
@using System.Globalization
@using CsvHelper
@inject CustomLoggerRepository customLoggerRepository
@using OneCore.Components.Shared
@inject StateContainer StateContainer

<PageTitle>Log - OneCore</PageTitle>

@if(Toggle)
{
    <!--Usuario logueado-->
}
else
{
    <!--Usuario NO logueado-->
    <div class="container">
        <div class="d-flex mt-5 pt-5 justify-content-center">
            <div class="card bg-light" style="width: 30rem;">
                <a href="https://www.shutterstock.com/es/image-photo/astronaut-elements-this-image-furnished-by-1022034061"
                   target="_blank">
                    <img src="/img/astronaut.jpg" class="card-img-top"
                         alt="login-first">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        Contenido no disponible
                    </h5>
                    <p class="card-text">
                        Para acceder a este contenido debes ingresar
                        tus credenciales primero
                    </p>
                    <a href="/" class="btn btn-outline-primary">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public bool Toggle { get; set; }
}
