@page "/files/document/{DocumentId:int}"

@using OneCore.Repositories
@using OneCore.Entities
@using OneCore.Components.Shared
@inject DocumentRepository documentRepository;
@inject CustomLoggerRepository customLoggerRepository;
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<PageTitle>Editar documento - OneCore</PageTitle>

@if(Toggle)
{
    <!--Page for logged user-->
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-file"></i> Editar documento</h3>
                <NavLink class="btn btn-outline-info text-white mt-3" href="files">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>&nbsp;Volver
                </NavLink>
            </div>
            <div class="card-body">
                <form method="post" @onsubmit="Submit"
                      @formname="login-form" class="mb-4">
                    <AntiforgeryToken />
                    <!--FileName-->
                    <div class="mb-3">
                        <label for="filename" class="form-label">
                            <b>Nombre de archivo</b>
                        </label>
                        <InputText @bind-Value="Document!.FileName"
                                   type="text" id="filename"
                                   class="form-control" />
                    </div>
                    <!--FileURL-->
                    <div class="mb-3">
                        <label for="filurl" class="form-label">
                            <b>URL del archivo</b>
                        </label>
                        <InputText @bind-Value="Document!.FileURL"
                                   type="text" id="filurl"
                                   class="form-control"
                                   readonly/>
                        <a href="@DownloadButton" 
                            class="btn btn-sm btn-info mt-2 text-white"
                            download>
                            <i class="fas fa-download"></i>
                            Descargar
                        </a>
                    </div>
                    <!--Description-->
                    <div class="mb-3">
                        <label for="description" class="form-label">
                            <b>Descripción</b>
                        </label>
                        <textarea @bind="Document!.Description"
                            type="text" 
                            id="description"
                            class="form-control"
                            rows="20">
                         </textarea>
                    </div>
                    <!--Resume-->
                    <div class="mb-3">
                        <label for="resume" class="form-label">
                            <b>Resumen</b>
                        </label>
                        <textarea @bind="Document!.Resume"
                            type="text" 
                            id="resume"
                            class="form-control"
                            rows="20">
                         </textarea>
                    </div>
                    <!--Feeling-->
                    <div class="mb-3">
                        <label for="feeling" class="form-label">
                            <b>Sentimientos</b>
                        </label>
                        <textarea @bind="Document!.Feeling"
                            type="text" 
                            id="feeling"
                            class="form-control"
                            rows="20">
                         </textarea>
                    </div>
                    <button id="btn-submit" type="submit"
                            class="btn btn-primary">
                        <i class="fas fa-pen"></i>
                        Editar
                    </button>
                    <NavLink class="btn btn-outline-info text-white" href="files">
                        <span class="fas fa-chevron-left" aria-hidden="true"></span>&nbsp;Volver
                    </NavLink>
                </form>
                @if (MessageForLoginForm != "")
                {
                    <span class="text-danger">
                        @((MarkupString)MessageForLoginForm)
                    </span>
                }
            </div>
        </div>
    </div>
}
else
{
    <!--Page for not logged user-->
    <div class="container">
        <div class="d-flex mt-5 pt-5 justify-content-center">
            <div class="card bg-light" style="width: 30rem;">
                <a href="https://www.shutterstock.com/es/image-photo/astronaut-elements-this-image-furnished-by-1022034061"
                   target="_blank">
                    <img src="/img/astronaut.jpg" class="card-img-top"
                         alt="login-first">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        Contenido no disponible
                    </h5>
                    <p class="card-text">
                        Para acceder a este contenido debes ingresar
                        tus credenciales primero
                    </p>
                    <a href="/" class="btn btn-outline-primary">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int DocumentId { get; set; }

    public bool Toggle { get; set; }

    public string DownloadButton { get; set; }

    public string MessageForLoginForm { get; set; } = "";

    [SupplyParameterFromForm]
    public Document Document { get; set; }

    public User? User { get; set; }

    protected override void OnInitialized()
    {
        User = StateContainer.User;

        if (User != null)
        {
            if (User.UserId != 0)
            {
                //Logged user
                Toggle = true;

                //Populate document data
                Document = documentRepository
                .GetById(DocumentId,CancellationToken.None);

                Document.Feeling = Document.Feeling
                .Replace("<p>", "")
                .Replace("</p>", "")
                .Replace("<b>", "")
                .Replace("</b>", "");

                DownloadButton = $@"Uploads\{Document.FileURL.Substring(Document.FileURL.LastIndexOf('\\') + 1)}";
            }
            else
            {
                //Not logged user
                Toggle = false;
            }
        }
        else
        {
            //Impossible
            Toggle = false;
        }

        base.OnInitialized();
    }

    private async void Submit()
    {
        try
        {
            //Validations
            if (Document!.FileName == "")
            {
                MessageForLoginForm = $@"<i class=""fas fa-exclamation""></i>
                                        El nombre del archivo no puede estar
                                        vacío";
                return;
            }

            //Update data
            await documentRepository
            .Update(Document,CancellationToken.None);

            //Log info
            CustomLogger customLogger = new()
                {
                    DateTime = DateTime.Now,
                    InteractionType = $@"Interacción del usuario",
                    Description = $@"El usuario {User.Email} ha modificado datos
                                    del documento con ID: {Document.DocumentId}",
                    UserId = User.UserId
                };
            await customLoggerRepository.Add(customLogger, CancellationToken.None);

            //Redirect to files page
            NavigationManager.NavigateTo("files");
        }
        catch (Exception ex)
        {
            MessageForLoginForm = $@"<i class=""fas fa-exclamation""></i>
                                    Hubo un error. Intenta nuevamente.
                                    Mensaje de error: {ex.Message}";
        }
    }
}
